Flask==2.3.3
python-dateutil==2.8.2
gunicorn==21.2.0
flask-mail==0.9.1
schedule==1.2.1
psycopg[binary]==3.2.3
SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.1.1
requests==2.31.0
paypalrestsdk==1.13.1
beautifulsoup4==4.12.2
lxml==5.1.0